h5{
    color: red;
}

.category {
    justify-content: center;
   
}

.navbar {
    background-color: rgb(40, 38, 66);
}

#navhead {
    color: yellow;
}
.pages {
    background-color: rgb(133, 125, 111);
    justify-content: center;
    padding: 13em;
    display: flex;
}

body {
    background-image: url('backgroundPhoto.jpeg')
}

.card {
    padding-bottom: 5em;
    border: black;
    border-width: 2em;
    
}

.containers {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 13em;
}

.listItem {
    margin-bottom: 3em;
    background-color: tan;
}